@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/functions.scss';


.create-gallery-overlay{
  @include overlay;

  .create-gallery{
    @include modal-card;

    .header{
      @include modal-header;
    }

    .input-area{
      width: 100%;
      margin-bottom: toRem(24);
      position: relative;
      text-align: center;
      i{
        margin-bottom: toRem(12);
      }

      .drop-file{
        display: block;
        font-size: toRem(16);
        font-weight: 600;
        
        small{
          display: block;
          font-weight: 500;
          opacity: .56;
          margin-top: toRem(22);
          margin-bottom: toRem(22);
        }
      }

      input{
        display: none;
      }

      .choose-file{
        display: block;
        width: fit-content;
        margin: 0 auto;
        border: 2px solid #000;
        padding: toRem(14) toRem(32);
        border-radius: toRem(4);
        margin-bottom: toRem(50);
        font-size: toRem(16);
        font-weight: 600;
        cursor: pointer;
      }

      .no-margin{
        margin-bottom: 0;
      }

      .file-name{
        .list-of-chosen{
          display: flex;
          justify-content: center;
          p{
            margin: 0;
          }

          a{
            padding: toRem(.8) toRem(10);
            i{
              font-size: toRem(10);
              color: red;
            }
          }
        }
      }
    }

    .add-button{
      @include modal-button;
    }

    .disabled-button{
      background: rgba(0,0,0,.7);
      cursor: not-allowed;
    }

    
  }
}