<section class="create-gallery-overlay"
  appDnd (fileDropped)="handleFileInput($event)">
  
  <section class="create-gallery">
    <div class="header">
      <h3>Pridať kategóriu</h3>
      <a (click)="onCloseModal()"><i class="pi pi-times"></i></a>
    </div>
    <div class="input-area">
      <i class="pi pi-image"></i>
      <p class="drop-file">Sem presunte fotky <small>alebo</small> </p>
      
      <label class="choose-file" [ngClass]="{'no-margin': fileNames.length > 0}">
        <input type="file" 
          multiple
          (change)="handleFileInput($event.target)">
          Vyberte súbory
      </label>

      <div class="file-name">
        <div *ngFor="let file of fileNames; let i = index">
          <p *ngIf="i < 2">{{file}}</p>
          <p *ngIf="i > 1"> {{fileNames.length - i}} ďalšie</p>
        </div>
      </div>

    </div>
    <button class="add-button"
      (click)="onUploadImage()">Pridať</button>
  </section>
</section>
