<div class="categories-container">
  <h5>Kategórie</h5>

  <input type="text" 
    [(ngModel)]="searchInput" 
    class="search-input" 
    placeholder="Vyhľadať">

  <section class="subpage-container">
    <div *ngFor="let gallery of allGalleries | filter:searchInput">
      <app-gallery-preview [gallery]="gallery"></app-gallery-preview>
    </div>

    <app-add-new [title]="'Pridať galériu'"></app-add-new>

    <app-add-gallery *ngIf="isCreationMode"
      (closeModal)="onCloseModal()"></app-add-gallery> 
  </section>
</div>
