<div class="gallery">
  <a *ngIf="gallery">

    <figure>
      <div class="figure-header">
        <span>6 fotiek</span>
        <a (click)="deleteGallery()"><i class="pi pi-trash"></i></a>
      </div>
      <img *ngIf="gallery.image" 
           [src]="'http://api.programator.sk/images/304x304/'+gallery.image!.fullpath" 
           alt="Gallery preview image">
      <img *ngIf="!gallery.image" 
           class="no-image"
           src="./assets/images/image-preview.png" 
           alt="Gallery preview image">
    </figure>

    <div class="gallery-name">
      <h3> {{gallery.name | titlecase}} </h3>
    </div>
  </a>
</div>

<p-confirmDialog header="Potvrdenie" icon="pi pi-exclamation-triangle"></p-confirmDialog>
