<section class="create-gallery-overlay">
  
  <section class="create-gallery">
    <div class="header">
      <h3>Pridať kategóriu</h3>
      <a (click)="onCloseModal()"><i class="pi pi-times"></i></a>
    </div>

    <div class="input">
      <label>Názov kategórie*</label>
      <input type="text" 
        [(ngModel)]="newGallery" 
        (keydown.enter)="onAddGallery()">
    </div>
    
    <button class="add-button"
      (click)="onAddGallery()"
      [disabled]="newGallery.length < 1"
      [ngClass]="{'disabled-button' : newGallery.length < 1}">Pridať</button>
  </section>
</section>
