@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/functions.scss';

.create-gallery-overlay{
  @include overlay;

  .create-gallery{
    @include modal-card;

    .header{
      @include modal-header;
    }

    .input{
      width: 100%;
      margin-bottom: toRem(24);
      position: relative;
      label{
        display: block;
        font-size: toRem(14);
        position: absolute;
        padding: 0 toRem(7);
        background: #fff;
        top: toRem(-11);
        left: toRem(24);
      }

      input{
        width: 100%;
        padding: toRem(24);
        box-shadow: 0px 1px 2px #00000014;
        border: 1px solid #DDDDDD;
        border-radius: toRem(4);
        outline: none;
      }
    }

    .add-button{
      width: 100%;
      font-size: toRem(16);
      color: #fff;
      padding: toRem(22) 0;
      border: none;
      border-radius: toRem(4);
      background: #000;
      cursor: pointer;
    }

    .disabled-button{
      background: rgba(0,0,0,.7);
      cursor: not-allowed;
    }

    
  }
}